.addBtn{
		border-radius: 58px!important;
    padding: 5px 15px!important;
    font-size: 12px!important;
    background: #fff!important;
    color: #000!important;
    border: 1px solid #ddd!important;
    font-weight: 600!important;
	}
.addIcon{
    color: #66ccf5!important;
    margin-right: 5px!important;
}

.col-form-label{
    font-size: 10px!important;
    color: #383737!important;
    text-transform: uppercase!important;
  }
  .popover-content .form-group .form-control {   
    height: auto!important;
    padding: 4px 12px!important;
    font-size: 13px!important;
    border-radius: 2px!important;
    box-shadow: none!important;
  }
  .ms-BasePicker-input, .pickerInput_4fe0caaf {
		height: 30px!important;
		border-radius: 2px!important;
	}
	.popover-content .form-group {
		margin-bottom: 5px!important;
}
	